<!--main.hbs-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Shelter Match</title>
    <link rel="stylesheet" href="/css/top-nav.css">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <div id="container">
        <div id="header">
            <div id="logo">
                <a href="index">
                    <img src="/img/sheltermatchlogo.jpg">
                </a>
            </div>
            <div class="clear"></div>
        </div>
        <div id="navbar" class="top">
            <ul>
                <li id="sheltermatch-nav">
                    <a href="index">
                        <span class="holdertext">Shelter Match</span>
                    </a>
                </li>
                <li id="home-nav">
                    <a href="index">
                        <span class="holdertext">Home</span>
                    </a>
                </li>
                <li id="about-nav">
                    <a href="about">
                        <span class="holdertext">About</span>
                    </a>
                </li>
                <li id="pets-nav">
                    <a href="pets">
                        <span class="holdertext">Pets</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="content">
        {{{body}}}
    </div>

</body>
</html>