<!-- index.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Profile</title>
</head>
<body>
    <div class="container">
        <!-- Left Window (Image) -->
        <div class="left-window">
            <img src="dog-image.jpg" alt="Pet Image">
        </div>
        <!-- Right Window (Details) -->
        <div class="right-window">
            <h1>Max, 6</h1>
            <div class="icon-text"><span class="icon"><img src="/img/magnify.svg"></i></span> Dog - Mutt</div>
            <div class="icon-text"><span class="icon"><img src="/img/ruler.svg"></i></span> Medium</div>
            <div class="icon-text"><span class="icon"><img src="/img/where.svg"></i></span> Saving Love Animal Shelter<br>2523 Botatore Way, Austin TX 80392</div>
            <div class="icon-text"><span class="icon"><img src="/img/phone.svg"></i></span> 523 234 2345</div>
            <div class="icon-text"><span class="icon"><img src="/img/mail.svg"></i></span> savinglove39@gmail.com</div>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt fermentum dapibus. 
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Pellentesque habitant morbi tristique senectus et netus.
            </p>
        </div>
    </div>
    <!-- Control Panel -->
    <div class="control-panel">
        <button class="control-button">←</button>
        <button class="control-button">→</button>
    </div>
</body>
</html>