/*==============================
	The css in top-nav.css was inspired by Harvard's Brand and Style Guide.
    However the code was orginal and written to use similar methods as
    described in the Harvard Business School Navigation Styleguide.
    The guide can be viewed here: 
    https://www.hbs.edu/marketing/web-development/desktop/navigation.html
================================ */


.adjust{margin-left: -16px;}


/*==============================
	Shelter Match top css 
================================ */

/*hides text for image replacement */
span.holdertext {
	display:none;
}
.clear,
.clearme {
	clear:both;
}
#container #creators span, #container ul li {
    font-size: 14px;
}
#creators ul li {
    display: inline;
}

/*==============================
	Shelter Match header css (logos and links)  
================================ */
#header {
    position:relative;
    text-align:center;
    width:25%;
    height:150px;
    margin-top:-8px;
    }

#logo {
	width:100px;
	float:left;
	height: 100px;
	margin-left: 0;
}
#logo a img{
	border: none;
    width:125px;
	float:left;
	height: 125px;
	margin-left: 0;
}


/*==============================
	Shelter Match navbar css  
================================ */
#navbar{
    clear: left;
    margin: 0 auto;
    position:relative;
    text-align:center;
    float:right;
    width:75%;
    top:0px;
    margin-top:-100px;
    height:100px;
}

#navbar ul {
    border-top:3px solid #109e1cea;
	padding:2px 0 0 0;
	margin:0px 0 28px 0;
	list-style-type:none;
}
#navbar ul li {
	display:inline;
	margin-top:10px;	
}
#navbar ul li a{	
	padding:0px;
	margin:0px;
	display:inline-block;
	height:30px;
	width:80px;
	margin-top:8px;
	margin-right:25px;
    margin-right:45px;
}

#navbar ul li.last a{margin-right:0; margin-left:-4px;}


/*=============================
	link backgrounds for gif method
================================ */

#navbar ul li#sheltermatch-nav a{
    background: url(/img/page/alllinks.gif) -2px 0px;
    width:160px;
}
#navbar ul li#home-nav a{
    background: url(/img/page/alllinks.gif) -275px 0px;
    width:70px;
}
#navbar ul li#about-nav a{
    background: url(/img/page/alllinks.gif) -350px 0px;
    width:100px;	
}
#navbar ul li#pets-nav a{
    background: url(/img/page/alllinks.gif) -460px 0px;
    width:80px;
}	

/*=============***=================
link hover states (pushed down 19px) for gif method
===============***================= */

#navbar ul li#sheltermatch-nav a:hover, #navbar ul li#sheltermatch-nav a.on{
    background: url(/img/page/alllinks.gif) -2px 25px;
    width:160px;
}
#navbar ul li#home-nav a:hover, #navbar ul li#home-nav a.on{
    background: url(/img/page/alllinks.gif) -275px 25px;
    width:70px;
}
#navbar ul li#about-nav a:hover, #navbar ul li#about-nav a.on{
    background: url(/img/page/alllinks.gif) -350px 25px;
    width:100px;
}
#navbar ul li#pets-nav a:hover, #navbar ul li#pets-nav a.on{
    background: url(/img/page/alllinks.gif) -460px 25px;
    width:80px;	
}
